*{  margin: 0; padding:0;}

body{
  background: #282c34;
  color: #ddd;
  font-family: Consolas, sans-serif;
  margin-left: 30px;
}
p{
  margin-top: 8px;
  margin-left: 10px;
  font-size: 24px;
  color:#abb2bf;
}
li{
  margin-top: 2px;
  margin-left: 80px;
  font-size: 24px;
  color:#abb2bf;
}
ul>li{list-style: none;}

a{color: #56b6c2; text-decoration: none;}
a:hover{color: #61afef; text-decoration: underline;}
h2{
  margin-top: 30px;
}

details{margin-left: 70px;}
summary{
  text-align: right;
  padding-right: 50px;
  font-size: 18px;
  color: #999;
}
summary:hover{color: #ffc;}


details.links{margin-left: 0px;}
summary.links{
  text-align: left;
  padding-right: 50px;
  font-size: 24px;
  font-weight: bold;
  color: #ddd;
  margin-top: 30px;
}

.prop{color: #d19a66; font-weight: bold;}
.var {color: #abb2bf;}
.val {color: #98c36e;}
.eq  {color: #e5c07b;}
.htm {color: #e06c75;}
.fnc {color: #56b6c2;}
.kw  {color: #c678dd;}
.vyp {color: #c678dd;}
.gyp {color: #73c990;}
.oyp {color: #e2c08d;}


.red {color: #e06c75;}
.grn {color: #98c36e;}
.blu {color: #61afef;}
.cya {color: #56b6c2;}
.org {color: #e5c07b;}
.vio {color: #bf66bf;} #bf00bf
.ylw {color: #bfbf00;}
.grn2{color: #66cf66;}
